.imgWrap {
    position: relative;
    image {
        display: block;
        width: 100%;
    }
    .codeDesc {
        text-align: center;
        margin-top: 42px;
        color: #888;
    }
    .qrCode {
        position: absolute;
        z-index: 2;
        top: 150px;
        width: 100%;
        image {
            width: 450px;
            height: 450px;
            margin: auto;
        }
    }
}